In [2]:
import sqlite3
import numpy as np
import pandas as pd
from scipy import stats
import statsmodels.api as sm
from statsmodels.tools import eval_measures

In [3]:
# load in merged_citylevel_data
file = "../data/csv/merged_citylevel_data.csv"
merged_df = pd.read_csv(file)
merged_df

,city,percent_millenial,total population,per cap consumption,per cap dollar sales,units_current_year,dollars_current_year,asp_current_year,year,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,Albany,22.0,"97,726",56.464359,77.465250,5.518036e+06,7.570369e+06,19.370834,2017.0,NaN,NaN,NaN
1,Atlanta,26.0,"491,763",57.869124,73.631820,2.845789e+07,3.620940e+07,17.986100,2017.0,NaN,NaN,NaN
2,Baltimore/Washington,23.0,"693,972",64.454312,94.508561,4.472949e+07,6.558630e+07,20.579243,2017.0,NaN,NaN,NaN
3,Boise,26.0,"227,621",19.203173,26.754134,4.371045e+06,6.089803e+06,19.602443,2017.0,NaN,NaN,NaN
4,Boston,23.0,688276,44.897423,67.174874,3.090182e+07,4.623485e+07,21.046124,2017.0,NaN,NaN,NaN
5,Buffalo/Rochester,26.1,"206,483",41.017719,58.333023,8.469462e+06,1.204478e+07,19.824338,2017.0,NaN,NaN,NaN
6,Charlotte,25.0,"859,347",14.553037,20.668500,1.250611e+07,1.776141e+07,20.006684,2017.0,NaN,NaN,NaN
7,Chicago,24.0,2713000,15.943954,24.600782,4.325595e+07,6.674192e+07,22.211855,2017.0,NaN,NaN,NaN
8,Cincinnati/Dayton,26.0,"301,648",44.899463,61.883576,1.354383e+07,1.866706e+07,19.575274,2017.0,NaN,NaN,NaN
9,Columbus,29.0,"881,763",11.384823,13.783786,1.003872e+07,1.215403e+07,17.212544,2017.0,NaN,NaN,NaN
10,Dallas/Ft. Worth,28.0,1343000,48.917973,47.819155,6.569684e+07,6.422112e+07,13.779296,2017.0,NaN,NaN,NaN
11,Denver,29.0,"704,621",59.795115,76.195596,4.213289e+07,5.368902e+07,18.049819,2017.0,NaN,NaN,NaN
12,Detroit,22.0,"674,188",29.500260,37.795749,1.988872e+07,2.548144e+07,18.481294,2017.0,NaN,NaN,NaN
13,Grand Rapids,27.0,"199,082",45.124610,67.464479,8.983498e+06,1.343096e+07,21.498845,2017.0,NaN,NaN,NaN
14,Harrisburg/Scranton,23.0,"126,490",113.547717,155.675511,1.436265e+07,1.969140e+07,19.224645,2017.0,NaN,NaN,NaN
15,Hartford/Springfield,21.0,"277,400",59.713495,91.069620,1.656452e+07,2.526271e+07,21.428063,2017.0,NaN,NaN,NaN
16,Houston,28.0,2317000,30.306954,27.036700,7.022121e+07,6.264403e+07,12.738383,2017.0,NaN,NaN,NaN
17,Indianapolis,27.0,"871,572",11.341817,15.254528,9.885210e+06,1.329542e+07,19.115838,2017.0,NaN,NaN,NaN
18,Jacksonville,25.0,"891,736",10.521341,14.593936,9.382258e+06,1.301394e+07,19.708407,2017.0,NaN,NaN,NaN
19,Las Vegas,26.0,"635,628",25.894606,30.791792,1.645934e+07,1.957213e+07,16.878450,2017.0,NaN,NaN,NaN
20,Los Angeles,23.0,3990469,36.810412,44.282094,1.468908e+08,1.767063e+08,17.212012,2017.0,NaN,NaN,NaN
21,Louisville,24.0,617460,8.117678,11.130606,5.012342e+06,6.872704e+06,19.389056,2017.0,NaN,NaN,NaN
22,Miami/FT. Lauderdale,18.0,"462,030",69.913431,99.642490,3.230210e+07,4.603782e+07,20.381861,2017.0,NaN,NaN,NaN
23,Nashville,29.0,689006,18.296117,20.350905,1.260613e+07,1.402190e+07,15.778344,2017.0,NaN,NaN,NaN
24,New Orleans/Mobile,24.0,"391,538",38.157887,46.882910,1.494026e+07,1.835644e+07,17.349103,2017.0,NaN,NaN,NaN
25,New York,21.0,8398748,9.516909,14.754758,7.993012e+07,1.239215e+08,21.808220,2017.0,NaN,NaN,NaN
26,Orlando,25.0,281143,69.652493,96.190329,1.958231e+07,2.704324e+07,19.589884,2017.0,NaN,NaN,NaN
27,Philadelphia,22.0,1580863,15.393816,23.179386,2.433551e+07,3.664343e+07,21.130984,2017.0,NaN,NaN,NaN
28,Phoenix/Tucson,25.0,1660272,36.362754,29.972750,6.037206e+07,4.976292e+07,11.953591,2017.0,NaN,NaN,NaN
29,Pittsburgh,22.0,301720,24.710952,30.618470,7.455788e+06,9.238205e+06,17.502156,2017.0,NaN,NaN,NaN
30,Portland,25.0,648630,49.220394,63.832098,3.192582e+07,4.140341e+07,18.413678,2017.0,NaN,NaN,NaN
31,Raleigh/Greensboro,27.0,465524,36.260522,49.135019,1.688014e+07,2.287353e+07,19.061310,2017.0,NaN,NaN,NaN
32,Richmond/Norfolk,24.0,"227,032",64.291391,80.418153,1.459620e+07,1.825749e+07,17.573790,2017.0,NaN,NaN,NaN
33,Sacramento,24.0,500944,48.650393,68.060901,2.437112e+07,3.409470e+07,19.875375,2017.0,NaN,NaN,NaN
34,San Diego,27.0,1419516,18.609912,23.473835,2.641707e+07,3.332148e+07,18.084880,2017.0,NaN,NaN,NaN
35,San Francisco,23.0,879166,49.749169,74.086919,4.373778e+07,6.513470e+07,21.332026,2017.0,NaN,NaN,NaN
36,Seattle,29.0,729601,41.320231,61.816490,3.014728e+07,4.510137e+07,21.208171,2017.0,NaN,NaN,NaN
37,Spokane,26.0,217028,21.228943,28.843689,4.607275e+06,6.259888e+06,19.248008,2017.0,NaN,NaN,NaN
38,St. Louis,24.0,308826,30.208557,42.305257,9.329188e+06,1.306496e+07,19.691256,2017.0,NaN,NaN,NaN
39,Syracuse,24.0,142300,28.458866,39.796135,4.049697e+06,5.662990e+06,19.532318,2017.0,NaN,NaN,NaN
40,Tampa,21.0,386577,56.692713,77.396305,2.191610e+07,2.991963e+07,19.462250,2017.0,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN