## This is our workspace for statistical analysis!

Add cells, do exploratory analysis, go ham.

In [4]:
# feel free to add more

import sqlite3
import numpy as np
import pandas as pd
from scipy import stats
import statsmodels.api as sm
from statsmodels.tools import eval_measures

In [5]:
# Create connection to database
conn = sqlite3.connect('../data/db/demographic.db')
c = conn.cursor()
list_tables_cmd = "SELECT name FROM sqlite_master WHERE type='table';"
c.execute(list_tables_cmd)
conn.commit()

for row in c:
  print(row)

('demographic',)
('cleaned_demographic',)
('accumulated_demographic',)

In [6]:
query1 = "SELECT * FROM demographic"
demo_df = pd.read_sql(query1, conn)
demo_df = demo_df[["NAME", "SEX", "AGE", "POPEST2017_CIV"]]
demo_df

                NAME SEX  AGE POPEST2017_CIV
0      United States   0    0        3893945
1      United States   0    1        3973803
2      United States   0    2        4020825
3      United States   0    3        4006802
4      United States   0    4        3996592
5      United States   0    5        4002285
6      United States   0    6        4046625
7      United States   0    7        4042957
8      United States   0    8        4042250
9      United States   0    9        4170820
10     United States   0   10        4190254
11     United States   0   11        4155802
12     United States   0   12        4143257
13     United States   0   13        4152283
14     United States   0   14        4124198
15     United States   0   15        4111285
16     United States   0   16        4218086
17     United States   0   17        4289539
18     United States   0   18        4212801
19     United States   0   19        4191466
20     United States   0   20        4200298
21     United States   0   21        4234037
22     United States   0   22        4332410
23     United States   0   23        4432793
24     United States   0   24        4512550
25     United States   0   25        4639771
26     United States   0   26        4730311
27     United States   0   27        4724015
28     United States   0   28        4540362
29     United States   0   29        4435042
...              ...  ..  ...            ...
13542        Wyoming   2   57           4122
13543        Wyoming   2   58           4065
13544        Wyoming   2   59           4053
13545        Wyoming   2   60           4155
13546        Wyoming   2   61           4114
13547        Wyoming   2   62           4104
13548        Wyoming   2   63           3859
13549        Wyoming   2   64           3697
13550        Wyoming   2   65           3415
13551        Wyoming   2   66           3362
13552        Wyoming   2   67           3222
13553        Wyoming   2   68           2977
13554        Wyoming   2   69           3076
13555        Wyoming   2   70           3028
13556        Wyoming   2   71           2155
13557        Wyoming   2   72           2219
13558        Wyoming   2   73           2144
13559        Wyoming   2   74           2092
13560        Wyoming   2   75           1847
13561        Wyoming   2   76           1646
13562        Wyoming   2   77           1617
13563        Wyoming   2   78           1475
13564        Wyoming   2   79           1349
13565        Wyoming   2   80           1271
13566        Wyoming   2   81           1184
13567        Wyoming   2   82           1134
13568        Wyoming   2   83           1026
13569        Wyoming   2   84            919
13570        Wyoming   2   85           6672
13571        Wyoming   2  999         283094

[13572 rows x 4 columns]

In [7]:
# Create connection to database
conn = sqlite3.connect('../data/db/avocado_project.db')
c = conn.cursor()

In [8]:
# Print out tables in database
list_tables_cmd = "SELECT name FROM sqlite_master WHERE type='table';"
c.execute(list_tables_cmd)
conn.commit()

for row in c:
  print(row)

('demographic',)
('hab2016_region',)
('hab2017_region',)
('hab2018_region',)
('joined_data',)
('millenial_percentages',)
('hab2016_citystate',)
('hab2017_citystate',)
('hab2018_citystate',)

In [9]:
# Load all tables into dataframe
query1 = "SELECT * FROM demographic"
demo_df = pd.read_sql(query1, conn)

query2 = "SELECT * FROM hab2016"
hab2016_df = pd.read_sql(query2, conn)
hab2016_df.rename(columns={'units_current_year': '2016_units_current_year',
                          'dollars_current_year': '2016_dollars_current_year',
                          'asp_current_year': '2016_asp_current_year'}, inplace=True)

query3 = "SELECT * FROM hab2017"
hab2017_df = pd.read_sql(query3, conn)
hab2017_df.rename(columns={'units_current_year': '2017_units_current_year',
                          'dollars_current_year': '2017_dollars_current_year',
                          'asp_current_year': '2017_asp_current_year'}, inplace=True)

query4 = "SELECT * FROM hab2018"
hab2018_df = pd.read_sql(query4, conn)
hab2018_df.rename(columns={'units_current_year': '2018_units_current_year',
                          'dollars_current_year': '2018_dollars_current_year',
                          'asp_current_year': '2018_asp_current_year'}, inplace=True)

DatabaseError: Execution failed on sql 'SELECT * FROM hab2016': no such table: hab2016

In [10]:
mean_pop = []
median_pop = []
stddev_pop = []

for index, row in demo_df.iterrows():
    pop_list = [row['pop2016'], row['pop2017'], row['pop2018']]
    means = np.mean(pop_list)
    median = np.median(pop_list)
    std_dev = np.std(pop_list)
    mean_pop.append(means)
    median_pop.append(median)
    stddev_pop.append(std_dev)
    
demo_df["Mean Population"] = mean_pop
demo_df["Median Population"] = median_pop
demo_df["Standard Deviation Population"] = stddev_pop
demo_df

#we might want to remove the rows with age 999 as its just an aggregation of all the previous rows of that region

,region,age,sex,pop2016,pop2017,pop2018,Mean Population,Median Population,Standard Deviation Population
0,California,0,F,239546,235400,233156,2.360340e+05,235400.0,2646.946921
1,California,0,M,251535,246740,244164,2.474797e+05,246740.0,3054.312834
2,California,1,F,243956,239361,234983,2.394333e+05,239361.0,3663.568964
3,California,1,M,256635,250616,245824,2.510250e+05,250616.0,4423.037493
4,California,2,F,243382,243308,238803,2.418310e+05,243308.0,2141.332451
5,California,2,M,255401,256071,249941,2.538043e+05,255401.0,2745.448759
6,California,3,F,243990,242728,242801,2.431730e+05,242801.0,578.474430
7,California,3,M,255086,254721,255524,2.551103e+05,255086.0,328.274614
8,California,4,F,243554,243400,242042,2.429987e+05,243400.0,679.380764
9,California,4,M,254310,254391,254062,2.542543e+05,254310.0,139.962693
10,California,5,F,248766,242989,242953,2.449027e+05,242989.0,2731.828732
11,California,5,M,260038,253879,253956,2.559577e+05,253956.0,2885.402610
12,California,6,F,243623,247945,242141,2.445697e+05,243623.0,2462.212736
13,California,6,M,253879,259736,253385,2.556667e+05,253879.0,2884.512013
14,California,7,F,243156,243128,247561,2.446150e+05,243156.0,2083.167940
15,California,7,M,253391,253319,259313,2.553410e+05,253391.0,2808.781942
16,California,8,F,251711,242696,242422,2.456097e+05,242696.0,4315.744071
17,California,8,M,263752,252707,252691,2.563833e+05,252707.0,5210.438263
18,California,9,F,252611,251129,242181,2.486403e+05,251129.0,4607.336276
19,California,9,M,264599,263364,252299,2.600873e+05,263364.0,5530.214482
20,California,10,F,249723,252050,250570,2.507810e+05,250570.0,961.638532
21,California,10,M,261215,263848,262790,2.626177e+05,262790.0,1081.802919
22,California,11,F,248494,249259,251462,2.497383e+05,249259.0,1258.193502
23,California,11,M,259136,260774,263244,2.610513e+05,260774.0,1688.510455
24,California,12,F,247576,248252,248757,2.481950e+05,248252.0,483.822970
25,California,12,M,257026,258876,260407,2.587697e+05,258876.0,1382.333856
26,California,13,F,246269,247354,247884,2.471690e+05,247354.0,672.173093
27,California,13,M,255037,256941,258751,2.569097e+05,256941.0,1516.396020
28,California,14,F,242774,246037,247204,2.453383e+05,246037.0,1874.802449
29,California,14,M,252368,255012,256904,2.547613e+05,255012.0,1860.277638
...,...,...,...,...,...,...,...,...,...
1362,West,72,F,139263,141336,141232,1.406103e+05,141232.0,953.654142
1363,West,72,M,125760,127564,128266,1.271967e+05,127564.0,1055.528093
1364,West,73,F,139337,137552,139553,1.388140e+05,139337.0,896.715116
1365,West,73,M,126231,123422,125252,1.249683e+05,125252.0,1164.179349
1366,West,74,F,120249,137222,135461,1.309773e+05,135461.0,7620.067031
1367,West,74,M,107496,123534,120857,1.172957e+05,120857.0,7015.063902
1368,West,75,F,109329,118288,135027,1.208813e+05,118288.0,10650.221730
1369,West,75,M,96815,104766,120529,1.073700e+05,104766.0,9854.747113
1370,West,76,F,101932,106985,115763,1.082267e+05,106985.0,5714.335326
1371,West,76,M,90215,94087,101831,9.537767e+04,94087.0,4829.232467
1372,West,77,F,94373,99629,104503,9.950167e+04,99629.0,4136.535211
1373,West,77,M,83361,87339,91117,8.727233e+04,87339.0,3166.724631
1374,West,78,F,88642,91756,96868,9.242200e+04,91756.0,3391.109553
1375,West,78,M,77505,80360,84192,8.068567e+04,80360.0,2739.651600
1376,West,79,F,80962,85776,88826,8.518800e+04,85776.0,3237.275809
1377,West,79,M,69509,74157,77047,7.357100e+04,74157.0,3105.147125
1378,West,80,F,75597,78032,82745,7.879133e+04,78032.0,2967.144119
1379,West,80,M,63744,66406,70914,6.702133e+04,66406.0,2959.301870
1380,West,81,F,71415,72660,74999,7.302467e+04,72660.0,1485.709782
1381,West,81,M,58533,60321,62874,6.057600e+04,60321.0,1781.355102
1382,West,82,F,63051,68209,69420,6.689333e+04,68209.0,2761.554433
1383,West,82,M,51107,55245,56973,5.444167e+04,55245.0,2461.232392
1384,West,83,F,60085,59902,64827,6.160467e+04,60085.0,2279.758223
1385,West,83,M,47396,47558,51453,4.880233e+04,47558.0,1875.470845
1386,West,84,F,56411,56695,56579,5.656167e+04,56579.0,116.588545
1387,West,84,M,43082,44018,44212,4.377067e+04,44018.0,493.359459
1388,West,85,F,379224,384587,389779,3.845300e+05,384587.0,4309.249200
1389,West,85,M,230056,236742,243372,2.367233e+05,236742.0,5436.250260
1390,West,999,F,17599328,17856296,18114533,1.785672e+07,17856296.0,210331.773163
1391,West,999,M,17488440,17753554,18016329,1.775277e+07,17753554.0,215510.486969

In [11]:
region = []
current_units_mean = []
current_units_median = []
current_units_stddev = []

current_dollars_mean = []
current_dollars_median = []
current_dollars_stddev = []

current_asp_mean = []
current_asp_median = []
current_asp_stddev = []

for index, row in hab2016_df.iterrows(): 
    region.append(row['region'])
    for index1, row1 in hab2017_df.iterrows():
        for index2, row2 in hab2018_df.iterrows():
            current_units_list = [row['2016_units_current_year'], row1['2017_units_current_year'], row2['2018_units_current_year']]
            current_dollars_list = [row['2016_dollars_current_year'], row1['2017_dollars_current_year'], row2['2018_dollars_current_year']]
            current_asp_list = [row['2016_asp_current_year'], row1['2017_asp_current_year'], row2['2018_asp_current_year']]
            
    units_mean = np.mean(current_units_list)
    units_median = np.median(current_units_list)
    units_std_dev = np.std(current_units_list)
    current_units_mean.append(units_mean)
    current_units_median.append(units_median)
    current_units_stddev.append(units_std_dev)
            
    dollars_mean = np.mean(current_dollars_list)
    dollars_median = np.median(current_dollars_list)
    dollars_std_dev = np.std(current_dollars_list)
    current_dollars_mean.append(dollars_mean)
    current_dollars_median.append(dollars_median)
    current_dollars_stddev.append(dollars_std_dev)
            
    asp_mean = np.mean(current_asp_list)  
    asp_median = np.median(current_asp_list)
    asp_std_dev = np.std(current_asp_list)  
    current_asp_mean.append(asp_mean)
    current_asp_median.append(asp_median)
    current_asp_stddev.append(asp_std_dev)
            
combined_avo_data = {'region' : region,
                     'units_current_year_mean' : current_units_mean, 
                     'units_current_year_median' : current_units_median,
                    'units_current_year_std_dev' : current_units_stddev,
                    'dollars_current_year_mean' : current_dollars_mean, 
                     'dollars_current_year_median' : current_dollars_median,
                    'dollars_current_year_std_dev' : current_dollars_stddev,
                    'asp_current_year_mean' : current_asp_mean, 
                     'asp_current_year_median' : current_asp_median,
                    'asp_current_year_std_dev' : current_asp_stddev}

combined_avo_df = pd.DataFrame(combined_avo_data)
combined_avo_df

NameError: name 'hab2016_df' is not defined

In [1]:
# Load all tables into dataframe
query1 = "SELECT * FROM demographic"
demo_df = pd.read_sql(query1, conn)
demo_df.rename(columns={'pop2016': '2016', 'pop2017': '2017', 'pop2018': '2018'}, inplace=True)

query2 = "SELECT * FROM hab2016"
hab2016_raw_df = pd.read_sql(query2, conn)
hab2016_raw_df['year'] = 2016

query3 = "SELECT * FROM hab2017"
hab2017_raw_df = pd.read_sql(query3, conn)
hab2017_raw_df['year'] = 2017

query4 = "SELECT * FROM hab2018"
hab2018_raw_df = pd.read_sql(query4, conn)
hab2018_raw_df['year'] = 2018

NameError: name 'pd' is not defined

In [2]:
# demo_df.describe()

In [3]:
# parse out and sum rows that correspond to millenials
mill_df = demo_df.loc[(demo_df['age'] <= 35) & (demo_df['age'] >= 20)]
mill_df = mill_df.melt(id_vars=["region", "age", "sex"], var_name="year", value_name="millenial_pop")
mill_df = mill_df.groupby(by=['region','year'])
mill_df = mill_df.sum()
mill_df = mill_df.drop("age", axis=1)

mill_df

NameError: name 'demo_df' is not defined

In [ ]:
# parse out and sum rows that correspond to boomers
boom_df = demo_df.loc[(demo_df['age'] >= 35) & (demo_df['age'] != 999) ]
boom_df = boom_df.melt(id_vars=["region", "age", "sex"], var_name="year", value_name="boomer_pop")
boom_df = boom_df.groupby(by=['region','year'])
boom_df = boom_df.sum()
boom_df = boom_df.drop("age", axis=1)

boom_df

In [ ]:
combined_demo_df = mill_df.merge(boom_df, on=['region', 'year'], how='outer')
combined_demo_df = combined_demo_df.reset_index()
combined_demo_df = combined_demo_df.rename(columns={"level_0": "region", "level_1": "year"})
combined_demo_df['year']=combined_demo_df['year'].astype(int)
combined_demo_df

In [ ]:
# join all three avocado data frames
hab_df = pd.concat([hab2016_raw_df, hab2017_raw_df, hab2018_raw_df], axis=0)
hab_df['year'] = hab_df['year'].astype(int)
hab_df = hab_df.sort_values(by=['region'])
hab_df

In [ ]:
# hab_df.describe()

In [ ]:
# load in per cap avocado data
file = "../data/csv/avo_per_cap.csv"
per_cap_df = pd.read_csv(file)
per_cap_df

In [ ]:
# join combined demographic and avo data
joined_df = combined_demo_df.merge(per_cap_df, on=['region', 'year'], how='outer')
joined_df = joined_df.merge(hab_df, on=['region', 'year'], how='outer')
joined_df

In [ ]:
# save joined_df (master joined table) to sqlite db
joined_df.to_sql('joined_data', conn, if_exists='replace', index=False)

# test that data was saved properly
query = "SELECT * FROM joined_data"
df = pd.read_sql(query, conn)
df